body {
	margin: 0;
	padding: 0;
}
section {
	height: 100vh;
	background: #000;
}
section:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #f00, #f00, #0f0, #0ff, #ff0, #0ff);
	mix-blend-mode: color;
	pointer-events: none;
}
video {
	object-fit: cover;
	width: 100%;
	height: 600px;
}
h1 {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	transform:  translateY(-50%);
	width: 100%;
	text-align: center;
	color: #ddd;
	font-size: 5em;
	font-family: sans-serif;
	letter-spacing: 0.2em;
}
h1 span {
	opacity: 0;
	display: inline-block;
	animation: animate 1s linear forwards;
}
@keyframes animate
{
	0% {
		opacity: 0;
		transform: rotateY(90deg);
		filter: blur(10px);
	}
	100% {
		opacity: 1;
		transform: rotateY(0deg);
		filter: blur(0);
	}
}
h1 span:nth-child(1)
{
	animation-delay: 1s; 
}
h1 span:nth-child(2)
{
	animation-delay: 2s; 
}
h1 span:nth-child(3)
{
	animation-delay: 2.5s; 
}
h1 span:nth-child(4)
{
	animation-delay: 3s; 
}
h1 span:nth-child(5)
{
	animation-delay: 3.5s; 
}
h1 span:nth-child(6)
{
	animation-delay: 3.75s; 
}
h1 span:nth-child(7)
{
	animation-delay: 4s; 
}
h1 span:nth-child(8)
{
	animation-delay: 4.5s; 
}
@media screen and (min-width: 992px) and (max-width: 1200px)
{
	h1 {
		font-size: 4em !important;
	}
	video {
		height: 500px !important;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px)
{
	h1 {
		font-size: 3.3em !important;
	}
	video {
		height: 500px !important;
	}
}
@media screen and (min-width: 481px) and (max-width: 767px)
{
	h1 {
		font-size: 2.5em !important;
	}
	video {
		height: 500px !important;
	}
}
@media screen and (min-width: 361px) and (max-width: 480px)
{
	h1 {
		font-size: 2em !important;
	}
	video {
		height: 450px !important;
	}
}
@media screen and (max-width: 360px)
{
	h1 {
		font-size: 1.6em !important;
	}
	video {
		height: 400px !important;
	}
}